// bower:scss
// endbower

@import "whiteframe";
@import "theme";
@import "animate";
@import "header";

.white-background {
	background-color: white;
}

md-content>.md-whiteframe {
	background-color: #fff
}

.border-none {
	border: none;
}

.padding-3per-10per {
	padding: 3% 10%;
}

.padding-40 {
	padding: 40px
}

.padding-top-10 {
	padding-top: 10px;
}


.padding-top-20 {
	padding-top: 20px;
}

.padding-0 {
	padding: 0px !important;
}

.padding-0-16 {
	padding: 0px 16px;
}

.padding-0-10 {
	padding: 0px 10%;
}


.padding-0-50 {
	padding: 0px 50px;
}

.padding-0-30 {
	padding: 0px 30px;
}

.margin-0-10 {
	margin: 0px 10%;
}

.margin-15 {
	margin: 15px;
}

.margin-top-minus-3 {
	margin-top: -3px !important;
}

.margin-top-5 {
	margin-top: 5% !important;
}

.margin-bottom-5 {
	margin-bottom: 5px;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

.height-40 {
	height: 40%;
}

.height-350 {
	height: 350px;
}

.height-400 {
	height: 400px;
}

.height-300 {
	height: 300px;
}

.min-height-40 {
	min-height: 40% !important;
}

.restrict-height-32 {
	min-height: 32px !important;
	max-height: 32px !important;
	height: auto;
}

.min-height-200 {
	min-height: 200px !important;
}

.fit-entire-space {
	max-width: 100%;
	max-height: 100%;
	width: auto; 
	height: auto; 
}

.text-center {
	text-align: center;
}

.font-weight-700 {
	font-weight: 700;
}

.font-size-20 {
	font-size: 20px;
}

.position-relative {
	position: relative;
}

.position-bottom-right-corner {
	position: fixed;
	bottom: 0px;
	right: 0px;
}

.position-absolute-bottom-right-corner {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.less-spaces md-input-container {
	margin: 5px 0px 0px 0px !important;
}

form.less-spaces md-input-container {
	margin: 5px 0px 0px 0px !important;
}

md-datepicker {
	margin-right: 0px;
}

.overflow-auto {
	overflow: auto;
}

.overflow-hidden {
	overflow: hidden;
}

.background-fixed {
	background-attachment: fixed !important;
}

.font-color {
	color: #FF8F00 !important;
}

.font-16 {
	font-size: 16px;
}

.font-14 {
	font-size: 14px !important;
}

.font-60 {
	font-size: 60px !important;
}

.transparent-background {
	background-color: rgba(149, 117, 205, 0.29) !important;
}

.flying-header {
	position: fixed;
	z-index: 3;
}

.cursor-pointer {
	cursor: pointer;
}

.min-width-100 {
	min-width: 100px;
}

.min-width-0 {
	min-width: 0px !important;
}

.width-100 {
	width: 100px;
}

.width-100-percentage {
	width: 100%;
}

.flex-100 .md-datepicker-input-container {
	width: 100%;
}

.position-fixed {
	position: fixed;
}

.z-index-1 {
	z-index: 1;
}

.z-index-0 {
	z-index: 0;
}

.position-top-left-corner {
	top: 0px;
	left:0px;
}

.box-shadow {
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.background-green, md-progress-linear.background-green .md-bar {
	background-color: rgb(73, 121, 72);
}

.background-red, md-progress-linear.background-red .md-bar  {
	background-color: red;
}

.background-pink, md-progress-linear.background-pink .md-bar  {
	background: #ec407a;
}

.background-orange, md-progress-linear.background-orange .md-bar  {
	background: orange;
}

.background-grey, md-progress-linear.background-grey .md-bar  {
	background: grey;
}

.desc-label {
	font-weight: 600;
	font-size: 12px;
	line-height: 18px;
	color: #282C35;
	text-transform: uppercase;
}

.desc-value {
	font-size: 15px;
	line-height: 22px;
	font-weight: 400;
}

.desc-body {
	font-size: 15px;
	line-height: 22px;
	font-weight: 400;
}

md-content.login {
	background: url(/images/overlay.png) 0% 0%/auto padding-box border-box,url(http://www.justincobbacademy.com/wp-content/uploads/2014/08/event-presenter-final.jpg) no-repeat 50% 50%/cover padding-box border-box
}
