
.spl-text {
	color: #FF8F00 !important;
}

.font-white {
	color: white !important;
}

.spl-button {
	color: #795548 !important;
	background-color: #FF8F00 !important;
}

.calendar > md-tabs-wrapper{
	background-color: #A1887F !important;
}

.calendar  .md-tab:not(.md-active) > span{
	color: rgba(255, 255, 255, 0.79);
}

md-progress-linear.fat > .md-container {
	height: 10px;
}

md-progress-linear.fat > .md-container > .md-bar2{
	height: 10px;
}

.grey-top-border {
	border-top: #BFBFBF solid 5px;
}

.unscheduled-session {
	background-color: #BFBFBF;
}

.scheduled-session {
	background-color: green;
}

.sold-out-session {
	background-color: red;
}

.green-top-border {
	border-top: green solid 5px;
}

.red-top-border {
	border-top: red solid 5px;
}

.calendar-badge {
	position: absolute;
	top: 0px;
	left: 10px;
	color: white;
	padding: 0px 4px;
	border-radius: 2px;
}

md-backdrop.md-opaque {
	opacity: 1;
}

.background-light-grey {
	background: rgba(224, 224, 224, 0.42);
}
/*md-prev-button > md-icon {*/
	/*color: white !important;*/
/*}*/

/*md-next-button > md-icon {*/
	/*color: white !important;*/
/*}*/
/*md-backdrop.md-sidenav-backdrop{*/
	/*opacity: 0.6;*/
/*}*/
