<md-card class="position-relative margin-bottom-30"
	md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch
	ng-class="{'grey-top-border': !isScheduled(), 'green-top-border': isScheduled(), 'red-top-border': soldOut()}">
	<span ng-if="!isScheduled()" class="calendar-badge unscheduled-session">Empty</span>
	<span ng-if="isScheduled() && !soldOut()" class="calendar-badge scheduled-session">Scheduled</span>
	<span ng-if="soldOut()" class="calendar-badge sold-out-session">Sold out</span>
	<md-card-title>
		<md-card-title-text>
			<span ng-if="isScheduled()" class="md-headline">{{sessionData.name}}</span>
			<span ng-if="isScheduled()" class="md-subhead">
				{{MomentUtilService.getTime(sessionData.start)}}&nbsp;to&nbsp;{{MomentUtilService.getTime(sessionData.end)}}
			</span>
			<span ng-if="!isScheduled()" class="md-headline">{{startTime}}</span>
		</md-card-title-text>
		<md-card-title-media>
		<md-button ng-if="!isScheduled()" class="md-fab md-accent" 
			ng-click="addSessionToEvent(startTime, sessionScheduleDate)">
				<md-icon class="material-icons font-white">add</md-icon>
			</md-button>
		</md-card-title-media>
	</md-card-title>
	<div class="progress-container cursor-pointer" ng-if="isScheduled()">
		<md-progress-linear md-mode="determinate" 
			class="{{getSeatsColor(sessionData)}}" value="{{(sessionData.registrationsDone * 100) / sessionData.registrationLimit}}">
		</md-progress-linear>
		<md-tooltip md-direction="top">
			Booked {{sessionData.registrationsDone}} of {{sessionData.registrationLimit}}
		</md-toolbar>
	</div>
	<md-card-actions layout="row" layout-align="end center">
	</md-card-actions>
</md-card>
