<md-card class="position-relative margin-bottom-30 green-top-border"
	md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch
	ng-class="{'red-top-border': soldOut()}">
	<span ng-if="!soldOut()" class="calendar-badge scheduled-session">Open</span>
	<span ng-if="soldOut()" class="calendar-badge sold-out-session">Sold out</span>
	<md-card-title>
		<md-card-title-text>
			<span class="md-headline">{{sessionData.name}}</span>
			<span class="md-subhead">
				<div>
					<md-icon class="material-icons font-size-20">access_time</md-icon>
					{{MomentUtilService.getTime(sessionData.start)}}&nbsp;to&nbsp;{{MomentUtilService.getTime(sessionData.end)}}
				</div>
				<div>
					<md-icon class="material-icons font-size-20">place</md-icon>
					{{currentEvent.location}}
				</div>
			</span>
		</md-card-title-text>
		<md-card-title-media layout="row">
			<div flex></div>
			<input type="hidden" ng-model="sessionData.seats" value="1" ng-disabled="sessionData.selected">
			<md-button class="md-fab md-accent" ng-disabled="sessionData.registrationsDone  == sessionData.registrationLimit"
				ng-if="!sessionData.selected" ng-click="selectSession()">
				<md-icon class="material-icons font-white">add_shopping_cart</md-icon>
			</md-button>
			<md-button class="md-fab md-warn" 
				ng-if="sessionData.selected" ng-click="removeSession()">
				<md-icon class="material-icons font-white">remove</md-icon>
			</md-button>
		</md-card-title-media>
	</md-card-title>
	<div class="progress-container cursor-pointer">
		<md-progress-linear class="{{getSeatsColor(sessionData)}}" md-mode="determinate" 
		value="{{(sessionData.registrationsDone * 100) / sessionData.registrationLimit}}">
		</md-progress-linear>
		<md-tooltip md-direction="top">
			Booked {{sessionData.registrationsDone}} of {{sessionData.registrationLimit}}
		</md-toolbar>
	</div>
	<md-card-actions layout="row" layout-align="end center">
	</md-card-actions>
</md-card>
