<md-sidenav class="md-sidenav-left md-whiteframe-z2 min-width-100 width-100" 
	md-disable-backdrop	md-component-id="left" layout="column">
    <md-toolbar class="cursor-pointer" 
		layout-align="center center" ng-click="toggleSideBar()" flex="nogrow">
        <i class="material-icons">view_headline</i>
    </md-toolbar>
    <md-content layout="column" layout-align="space-around center" flex="grow">
        <div layout="column" layout-align="center center">
			<md-button class="md-fab md-primary" ng-click="changePath('info', '')"
				ng-disabled="activeMenu=='info'"
				type="button" layout="column" layout-align="center center">
        		<i class="material-icons ng-scope">info_outline</i>
        	</md-button>
			<span>Info</span>
        </div>
        <div layout="column" layout-align="center center">
        	<md-button class="md-fab md-primary" ng-click="changePath('schedule', 'schedule')"
				ng-disabled="activeMenu=='schedule'"
				type="button" layout="column" layout-align="center center">
        		<i class="material-icons ng-scope">date_range</i>
        	</md-button>
			<span>Register</span>
        </div>
        <div ng-if="currentUserIsAdmin" layout="column" layout-align="center center">
        	<md-button class="md-fab md-primary" ng-click="changePath('schedule-setup', 'schedule-setup')"
				ng-disabled="activeMenu=='schedule-setup'"
				type="button" layout="column" layout-align="center center">
        		<i class="material-icons ng-scope">build</i>
        	</md-button>
			<span class="text-center">Setup Sessions</span>
        </div>
		<div>
		</div>
		<div>
		</div>
		<div>
		</div>
		<div>
		</div>
		<div>
		</div>
    </md-content>
</md-sidenav>
