<div class="flying-header position-top-left-corner animate-if width-100-percentage" ng-if="show">
<md-toolbar class="md-primary" layout="row" layout-align="center">
	<div layout class="md-toolbar-tools">
		<div flex="grow">
			<md-icon class="material-icons margin-top-minus-3 cursor-pointer" 
				ng-click="toggleSideBar()">menu</md-icon>
			<span ng-if="$mdMedia('lg') || $mdMedia('sm')">{{currentEvent.name}}</span>
			<span ng-if="$mdMedia('xs')" class="font-14">
				{{currentEvent.name| limitTo: 50}}
				<span ng-if="currentEvent.name.length >= 50">..</span>
			</span>
		</div>
		<div flex></div>
		<md-button flex="10" class="md-accent md-hue-2 md-raised" ng-click="registerEvent()">Register</md-button>
	</div>
</md-toolbar>
<md-toolbar class="md-primary md-hue-2 restrict-height-32" layout="row" layout-align="center">
	<div layout class="md-toolbar-tools font-14 restrict-height-32">
		{{getReadableDate(currentEvent.start)}} to
		{{getReadableDate(currentEvent.end)}}
	</div>
</md-toolbar>
</div>
