/* line 1, ../../app/styles/header.scss */
md-toolbar.dynamic-sized {
  height: 10% !important;
  min-height: initial;
}
/* line 4, ../../app/styles/header.scss */
md-toolbar.dynamic-sized > .md-toolbar-tools {
  height: 100% !important;
  max-height: none;
}
