/* line 1, ../../app/styles/whiteframe.scss */
md-whiteframe {
  background: #fff;
  margin: 10px;
  position: relative;
  cursor: pointer;
  transition: all .3s ease;
  padding: 20px 0px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
/* line 10, ../../app/styles/whiteframe.scss */
md-whiteframe:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.06), 0 10px 20px 0 rgba(0, 0, 0, 0.09);
  transform: translate(0, -4px);
}
/* line 15, ../../app/styles/whiteframe.scss */
md-whiteframe > .label-tag {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  border: none;
  border-bottom-left-radius: 5px;
  font-size: 12px;
  padding: 3px;
  text-transform: uppercase;
}
/* line 27, ../../app/styles/whiteframe.scss */
md-whiteframe .event-name {
  padding: 0px 16px 5px;
  font-size: 15px;
  font-weight: 700;
}
/* line 33, ../../app/styles/whiteframe.scss */
md-whiteframe .event-date {
  font-size: 12px;
  font-weight: 300;
}
/* line 38, ../../app/styles/whiteframe.scss */
md-whiteframe .location {
  font-size: 12px;
  font-weight: 500;
}

/* line 2, ../../app/styles/theme.scss */
.spl-text {
  color: #FF8F00 !important;
}

/* line 6, ../../app/styles/theme.scss */
.font-white {
  color: white !important;
}

/* line 10, ../../app/styles/theme.scss */
.spl-button {
  color: #795548 !important;
  background-color: #FF8F00 !important;
}

/* line 15, ../../app/styles/theme.scss */
.calendar > md-tabs-wrapper {
  background-color: #A1887F !important;
}

/* line 19, ../../app/styles/theme.scss */
.calendar .md-tab:not(.md-active) > span {
  color: rgba(255, 255, 255, 0.79);
}

/* line 23, ../../app/styles/theme.scss */
md-progress-linear.fat > .md-container {
  height: 10px;
}

/* line 27, ../../app/styles/theme.scss */
md-progress-linear.fat > .md-container > .md-bar2 {
  height: 10px;
}

/* line 31, ../../app/styles/theme.scss */
.grey-top-border {
  border-top: #BFBFBF solid 5px;
}

/* line 35, ../../app/styles/theme.scss */
.unscheduled-session {
  background-color: #BFBFBF;
}

/* line 39, ../../app/styles/theme.scss */
.scheduled-session {
  background-color: green;
}

/* line 43, ../../app/styles/theme.scss */
.sold-out-session {
  background-color: red;
}

/* line 47, ../../app/styles/theme.scss */
.green-top-border {
  border-top: green solid 5px;
}

/* line 51, ../../app/styles/theme.scss */
.red-top-border {
  border-top: red solid 5px;
}

/* line 55, ../../app/styles/theme.scss */
.calendar-badge {
  position: absolute;
  top: 0px;
  left: 10px;
  color: white;
  padding: 0px 4px;
  border-radius: 2px;
}

/* line 64, ../../app/styles/theme.scss */
md-backdrop.md-opaque {
  opacity: 1;
}

/* line 1, ../../app/styles/animate.scss */
.animate-if.ng-enter, .animate-if.ng-leave {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -ms-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

/* line 8, ../../app/styles/animate.scss */
.animate-if.ng-enter {
  top: -100%;
}

/* line 11, ../../app/styles/animate.scss */
.animate-if.ng-enter.ng-enter-active {
  top: 0px;
}

/* line 14, ../../app/styles/animate.scss */
.animate-if.ng-leave {
  top: 0px;
}

/* line 17, ../../app/styles/animate.scss */
.animate-if.ng-leave.ng-leave-active {
  top: -100%;
}

/* line 21, ../../app/styles/animate.scss */
.animate-toolbar {
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

/* line 1, ../../app/styles/header.scss */
md-toolbar.dynamic-sized {
  height: 10% !important;
  min-height: initial;
}
/* line 4, ../../app/styles/header.scss */
md-toolbar.dynamic-sized > .md-toolbar-tools {
  height: 100% !important;
  max-height: none;
}

/* line 9, ../../app/styles/main.scss */
.white-background {
  background-color: white;
}

/* line 13, ../../app/styles/main.scss */
md-content > .md-whiteframe {
  background-color: #fff;
}

/* line 17, ../../app/styles/main.scss */
.border-none {
  border: none;
}

/* line 21, ../../app/styles/main.scss */
.padding-3per-10per {
  padding: 3% 10%;
}

/* line 25, ../../app/styles/main.scss */
.padding-40 {
  padding: 40px;
}

/* line 29, ../../app/styles/main.scss */
.padding-top-10 {
  padding-top: 10px;
}

/* line 34, ../../app/styles/main.scss */
.padding-top-20 {
  padding-top: 20px;
}

/* line 38, ../../app/styles/main.scss */
.padding-0 {
  padding: 0px !important;
}

/* line 42, ../../app/styles/main.scss */
.padding-0-16 {
  padding: 0px 16px;
}

/* line 46, ../../app/styles/main.scss */
.padding-0-10 {
  padding: 0px 10%;
}

/* line 51, ../../app/styles/main.scss */
.padding-0-50 {
  padding: 0px 50px;
}

/* line 55, ../../app/styles/main.scss */
.padding-0-30 {
  padding: 0px 30px;
}

/* line 59, ../../app/styles/main.scss */
.margin-0-10 {
  margin: 0px 10%;
}

/* line 63, ../../app/styles/main.scss */
.margin-15 {
  margin: 15px;
}

/* line 67, ../../app/styles/main.scss */
.margin-top-minus-3 {
  margin-top: -3px !important;
}

/* line 71, ../../app/styles/main.scss */
.margin-top-5 {
  margin-top: 5% !important;
}

/* line 75, ../../app/styles/main.scss */
.margin-bottom-5 {
  margin-bottom: 5px;
}

/* line 79, ../../app/styles/main.scss */
.margin-bottom-10 {
  margin-bottom: 10px;
}

/* line 83, ../../app/styles/main.scss */
.margin-bottom-20 {
  margin-bottom: 20px;
}

/* line 87, ../../app/styles/main.scss */
.margin-bottom-30 {
  margin-bottom: 30px;
}

/* line 91, ../../app/styles/main.scss */
.height-40 {
  height: 40%;
}

/* line 95, ../../app/styles/main.scss */
.height-350 {
  height: 350px;
}

/* line 99, ../../app/styles/main.scss */
.height-400 {
  height: 400px;
}

/* line 103, ../../app/styles/main.scss */
.height-300 {
  height: 300px;
}

/* line 107, ../../app/styles/main.scss */
.min-height-40 {
  min-height: 40% !important;
}

/* line 111, ../../app/styles/main.scss */
.restrict-height-32 {
  min-height: 32px !important;
  max-height: 32px !important;
  height: auto;
}

/* line 117, ../../app/styles/main.scss */
.min-height-200 {
  min-height: 200px !important;
}

/* line 121, ../../app/styles/main.scss */
.fit-entire-space {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

/* line 128, ../../app/styles/main.scss */
.text-center {
  text-align: center;
}

/* line 132, ../../app/styles/main.scss */
.font-weight-700 {
  font-weight: 700;
}

/* line 136, ../../app/styles/main.scss */
.font-size-20 {
  font-size: 20px;
}

/* line 140, ../../app/styles/main.scss */
.position-relative {
  position: relative;
}

/* line 144, ../../app/styles/main.scss */
.position-bottom-right-corner {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

/* line 150, ../../app/styles/main.scss */
.position-absolute-bottom-right-corner {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

/* line 156, ../../app/styles/main.scss */
form.less-spaces md-input-container {
  margin: 5px 0px 0px 0px !important;
}

/* line 160, ../../app/styles/main.scss */
md-datepicker {
  margin-right: 0px;
}

/* line 164, ../../app/styles/main.scss */
.overflow-auto {
  overflow: auto;
}

/* line 168, ../../app/styles/main.scss */
.overflow-hidden {
  overflow: hidden;
}

/* line 172, ../../app/styles/main.scss */
.background-fixed {
  background-attachment: fixed !important;
}

/* line 176, ../../app/styles/main.scss */
.font-color {
  color: #FF8F00 !important;
}

/* line 180, ../../app/styles/main.scss */
.font-16 {
  font-size: 16px;
}

/* line 184, ../../app/styles/main.scss */
.font-14 {
  font-size: 14px !important;
}

/* line 188, ../../app/styles/main.scss */
.font-60 {
  font-size: 60px !important;
}

/* line 192, ../../app/styles/main.scss */
.transparent-background {
  background-color: rgba(149, 117, 205, 0.29) !important;
}

/* line 196, ../../app/styles/main.scss */
.flying-header {
  position: fixed;
  z-index: 3;
}

/* line 201, ../../app/styles/main.scss */
.cursor-pointer {
  cursor: pointer;
}

/* line 205, ../../app/styles/main.scss */
.min-width-100 {
  min-width: 100px;
}

/* line 209, ../../app/styles/main.scss */
.min-width-0 {
  min-width: 0px !important;
}

/* line 213, ../../app/styles/main.scss */
.width-100 {
  width: 100px;
}

/* line 217, ../../app/styles/main.scss */
.width-100-percentage {
  width: 100%;
}

/* line 221, ../../app/styles/main.scss */
.flex-100 .md-datepicker-input-container {
  width: 100%;
}

/* line 225, ../../app/styles/main.scss */
.position-fixed {
  position: fixed;
}

/* line 229, ../../app/styles/main.scss */
.z-index-1 {
  z-index: 1;
}

/* line 233, ../../app/styles/main.scss */
.z-index-0 {
  z-index: 0;
}

/* line 237, ../../app/styles/main.scss */
.position-top-left-corner {
  top: 0px;
  left: 0px;
}

/* line 242, ../../app/styles/main.scss */
.box-shadow {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

/* line 246, ../../app/styles/main.scss */
.background-green, md-progress-linear.background-green .md-bar {
  background-color: #497948;
}

/* line 250, ../../app/styles/main.scss */
.background-red, md-progress-linear.background-red .md-bar {
  background-color: red;
}

/* line 254, ../../app/styles/main.scss */
.background-pink, md-progress-linear.background-pink .md-bar {
  background: #ec407a;
}

/* line 258, ../../app/styles/main.scss */
.background-orange, md-progress-linear.background-orange .md-bar {
  background: orange;
}

/* line 262, ../../app/styles/main.scss */
.background-grey, md-progress-linear.background-grey .md-bar {
  background: grey;
}

/* line 266, ../../app/styles/main.scss */
.desc-label {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #282C35;
  text-transform: uppercase;
}

/* line 274, ../../app/styles/main.scss */
.desc-value {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
}

/* line 280, ../../app/styles/main.scss */
.desc-body {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
}

/* line 286, ../../app/styles/main.scss */
md-content.login {
  background: url(/images/overlay.png) 0% 0%/auto padding-box border-box, url(http://www.pl1events.co.uk/images/sliders/conference/pl1-events-plymouth-conference-4.jpg) no-repeat 50% 50%/cover padding-box border-box;
}
