/* line 2, ../../app/styles/theme.scss */
.spl-text {
  color: #FF8F00 !important;
}

/* line 6, ../../app/styles/theme.scss */
.font-white {
  color: white !important;
}

/* line 10, ../../app/styles/theme.scss */
.spl-button {
  color: #795548 !important;
  background-color: #FF8F00 !important;
}

/* line 15, ../../app/styles/theme.scss */
.calendar > md-tabs-wrapper {
  background-color: #A1887F !important;
}

/* line 19, ../../app/styles/theme.scss */
.calendar .md-tab:not(.md-active) > span {
  color: rgba(255, 255, 255, 0.79);
}

/* line 23, ../../app/styles/theme.scss */
md-progress-linear.fat > .md-container {
  height: 10px;
}

/* line 27, ../../app/styles/theme.scss */
md-progress-linear.fat > .md-container > .md-bar2 {
  height: 10px;
}

/* line 31, ../../app/styles/theme.scss */
.grey-top-border {
  border-top: #BFBFBF solid 5px;
}

/* line 35, ../../app/styles/theme.scss */
.unscheduled-session {
  background-color: #BFBFBF;
}

/* line 39, ../../app/styles/theme.scss */
.scheduled-session {
  background-color: green;
}

/* line 43, ../../app/styles/theme.scss */
.sold-out-session {
  background-color: red;
}

/* line 47, ../../app/styles/theme.scss */
.green-top-border {
  border-top: green solid 5px;
}

/* line 51, ../../app/styles/theme.scss */
.red-top-border {
  border-top: red solid 5px;
}

/* line 55, ../../app/styles/theme.scss */
.calendar-badge {
  position: absolute;
  top: 0px;
  left: 10px;
  color: white;
  padding: 0px 4px;
  border-radius: 2px;
}

/* line 64, ../../app/styles/theme.scss */
md-backdrop.md-opaque {
  opacity: 1;
}
