/* line 1, ../alpha-toolbar.scss */
[md-header-picture] {
  position: relative;
  width: 100%;
  height: 0;
  /* Simple trick to keep a 16:9 ratio on your background image (height=0;padding-bottom=56.25%) */
  padding-bottom: 56.25%;
  overflow: hidden;
  background-size: 160%;
  /* You can override this value if your picture has a weird ratio */
  background-position: 50% 50%;
}

/* line 11, ../alpha-toolbar.scss */
[scroll] {
  position: fixed;
  top: 0;
}

/* I made a simple scale animation on float action button during scroll */
/* line 18, ../alpha-toolbar.scss */
.main-fab {
  position: absolute;
  left: calc(100% - 70px);
  z-index: 20;
  transform: scale(1, 1);
  transition: transform .1s ease-out;
}

/* line 26, ../alpha-toolbar.scss */
.main-fab.hide {
  transform: scale(0, 0);
  transition: transform .1s ease-out;
}

/* Lines of code below are just here to get a better aspect but optionnal */
/* line 32, ../alpha-toolbar.scss */
section {
  height: 1600px;
}

/* line 36, ../alpha-toolbar.scss */
i {
  font-size: 24px;
}

/* line 40, ../alpha-toolbar.scss */
.md-tools {
  width: 40px;
}

/* line 44, ../alpha-toolbar.scss */
.muted {
  color: #bbb;
  font-size: inherit;
  font-weight: 700;
  text-align: left;
}

/* line 51, ../alpha-toolbar.scss */
.md-tile-left {
  margin-right: 0 !important;
  padding-left: 24px;
  color: #3f51b5;
}

/*# sourceMappingURL=alpha-toolbar.css.map */
