/* line 1, ../header.scss */
md-toolbar.dynamic-sized {
  height: 10% !important;
  min-height: initial;
}
/* line 4, ../header.scss */
md-toolbar.dynamic-sized > .md-toolbar-tools {
  height: 100% !important;
  max-height: none;
}

/*# sourceMappingURL=header.css.map */
