/* line 2, ../theme.scss */
.spl-text {
  color: #FF8F00 !important;
}

/* line 6, ../theme.scss */
.font-white {
  color: white !important;
}

/* line 10, ../theme.scss */
.spl-button {
  color: #795548 !important;
  background-color: #FF8F00 !important;
}

/* line 11, ../theme.scss */
.calendar > md-tabs-wrapper {
  background-color: #A1887F !important;
}

/* line 19, ../theme.scss */
.calendar .md-tab:not(.md-active) > span {
  color: rgba(255, 255, 255, 0.79);
}

/* line 23, ../theme.scss */
md-progress-linear.fat > .md-container {
  height: 10px;
}

/* line 27, ../theme.scss */
md-progress-linear.fat > .md-container > .md-bar2 {
  height: 10px;
}

/* line 31, ../theme.scss */
.grey-top-border {
  border-top: #BFBFBF solid 5px;
}

/* line 31, ../theme.scss */
.unscheduled-session {
  background-color: #BFBFBF;
}

/* line 39, ../theme.scss */
.scheduled-session {
  background-color: green;
}

/* line 39, ../theme.scss */
.sold-out-session {
  background-color: red;
}

/* line 47, ../theme.scss */
.green-top-border {
  border-top: green solid 5px;
}

/* line 51, ../theme.scss */
.red-top-border {
  border-top: red solid 5px;
}

/* line 55, ../theme.scss */
.calendar-badge {
  position: absolute;
  top: 0px;
  left: 10px;
  color: white;
  padding: 0px 4px;
  border-radius: 2px;
}

/* line 64, ../theme.scss */
md-backdrop.md-opaque {
  opacity: 1;
}

/* line 68, ../theme.scss */
.background-light-grey {
  background: rgba(224, 224, 224, 0.42);
}

/* line 72, ../theme.scss */
md-prev-button > md-icon {
  color: white !important;
}

/* line 76, ../theme.scss */
md-next-button > md-icon {
  color: white !important;
}

/* line 79, ../theme.scss */
md-backdrop.md-sidenav-backdrop {
  opacity: 0.6;
}

/*# sourceMappingURL=theme.css.map */
