/* line 1, ../whiteframe.scss */
md-whiteframe {
  background: #fff;
  margin: 10px;
  position: relative;
  cursor: pointer;
  transition: all .3s ease;
  padding: 20px 0px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
/* line 10, ../whiteframe.scss */
md-whiteframe:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.06), 0 10px 20px 0 rgba(0, 0, 0, 0.09);
  transform: translate(0, -4px);
}
/* line 15, ../whiteframe.scss */
md-whiteframe > .label-tag {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  border: none;
  border-bottom-left-radius: 5px;
  font-size: 12px;
  padding: 3px;
  text-transform: uppercase;
}
/* line 27, ../whiteframe.scss */
md-whiteframe .event-name {
  padding: 0px 16px 5px;
  font-size: 15px;
  font-weight: 700;
}
/* line 33, ../whiteframe.scss */
md-whiteframe .event-date {
  font-size: 12px;
  font-weight: 300;
}
/* line 38, ../whiteframe.scss */
md-whiteframe .location {
  font-size: 12px;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5em;
  color: #68a;
  text-align: center;
}
/* line 35, ../whiteframe.scss */
md-whiteframe .event-date {
  ifont-size: 1.0rem;
  font-style: italic;
  color: #8ac;
  font-weight: 300;
}
/* line 42, ../whiteframe.scss */
md-whiteframe .location {
  color: #79b;
  font-size: 0.9rem;
  font-weight: 500;
}

/*# sourceMappingURL=whiteframe.css.map */
