<md-dialog flex="60">
	<md-toolbar>
		<div class="md-toolbar-tools"><h2>Create Event</h2></div>
	</md-toolbar>
	<form name="newEventForm">
	<md-dialog-content layout-padding>
		<md-content layout-padding layout="row" layout-xs="column">
			<div flex-gt-xs="100" layout="column" class="less-spaces">
					<div layout layout-xs="column">
						<div layout="column" flex="60" flex-xs="100">
							<md-input-container>
								<label>Event Name</label>
								<input ng-model="newEvent.name" name="name" autofocus required autocomplete="off">
								<div ng-messages="newEventForm.name.$error">
									<div ng-message="required">Event name is required</div>
								</div>
							</md-input-container>
							<md-input-container>
								<label>Location</label>
								<input ng-model="newEvent.location" name="eventLocation" required autocomplete="off">
								<div ng-messages="newEventForm.eventLocation.$error">
									<div ng-message="required">Event location is required</div>
								</div>
							</md-input-container>
							<md-input-container class="md-icon-right" style="padding-left: 0px;">
								<label style="left:0px">Location map URL</label>
								<input ng-model="newEvent.locationMap" name="eventLocationMap" autocomplete="off">
								<md-icon class="material-icons cursor-pointer">
								info_outline
								</md-icon>
								<md-tooltip md-direction="right">
									Copy paste google's map iframe URL
								</md-tooltip>
							</md-input-container>
						</div>
						<div ngf-drop="uploadFiles($files)"
							ngf-drag-over-class="dragOverClass($event)"
							ng-model="files" class="box-shadow margin-15 position-relative"
							ng-class="{'min-height-200': $mdMedia('xs')}"
							style="background: url({{uploadedImage}}) no-repeat 50% 50%/cover padding-box border-box;"
							ng-multiple="true" flex layout="column" layout-align="center center">
							<md-button class="md-accent md-raised" ngf-select="uploadFiles($files)"
								ng-disabled="uploadStarted" multiple >Upload</md-button>
							<md-progress-linear class="position-absolute-bottom-right-corner md-accent" md-mode="determinate" value="{{progress}}"></md-progress-linear>
							{{photo}}
						</div>
					</div>
					<div flex layout layout-align="space-around center">
						<md-datepicker ng-model="newEvent.eventStartDate" required
							md-placeholder="From date" md-max-date="newEvent.eventEndDate"  md-min-date="dateNow"></md-datepicker>
						<md-datepicker ng-model="newEvent.eventEndDate" required md-min-date="newEvent.eventStartDate" md-placeholder="To date"></md-datepicker>
					</div>
					<md-input-container>
						<textarea ui-tinymce="tinymceOptions" name="eventDetails" ng-model="newEvent.details"></textarea>
					</md-input-container>
			</div>
		</md-content>
	</md-dialog-content>
	<md-dialog-actions>
		<div flex show-gt-xs></div>
		<md-button flex flex-xs="100" type="submit"
			ng-click="save()" class="md-accent md-raised" ng-disabled="!newEventForm.$valid || uploadStarted">
			Save
		</md-button>
		<md-button flex flex-xs="100" ng-click="cancel()" class="md-warn">
			cancel
		</md-button>
	</md-dialog-actions>
	</form>
</md-dialog>
