<md-dialog flex="40">
	<md-toolbar>
		<div class="md-toolbar-tools"><h2>Create Session</h2></div>
	</md-toolbar>
	<form name="newSessionForm">
		<md-dialog-content layout-padding>
			<md-content layout-padding layout="row" layout-xs="column">
				<div flex-gt-xs="100" layout="column" class="less-spaces">
						<md-input-container>
							<label>Session Name</label>
							<input ng-model="newSession.sessionName" name="sessionName" autofocus required autocomplete="off">
							<div ng-messages="newSessionForm.sessionName.$error">
								<div ng-message="required">Session name is required</div>
							</div>
						</md-input-container>
						<div flex layout class="margin-bottom-20">
							<md-datepicker flex="100" ng-model="newSession.sessionDate" 
								md-placeholder="From date" md-max-date="newSession.sessionEndDate"  
								md-min-date="newSession.sessionStartDate"></md-datepicker>
						</div>
						<div flex layout>
							<md-input-container flex>
								<label>From time:</label>
								<md-select ng-model="newSession.fromTime" name="fromTime" ng-change="loadToHours()" required>
									<md-option ng-repeat="hour in unbookedHours" value="{{hour}}">
									{{hour}}
									</md-option>
								</md-select>
								<div ng-messages="newSessionForm.fromTime.$error">
									<div ng-message="required">From time is required</div>
								</div>
							</md-input-container>
							<md-input-container flex>
								<label>To time:</label>
								<md-select ng-model="newSession.toTime" name="toTime">
									<md-option ng-repeat="hour in toHours" value="{{hour}}">
									{{hour}}
									</md-option>
								</md-select>
								<div ng-messages="newSessionForm.toTime.$error">
									<div ng-message="required">To time is required</div>
								</div>
							</md-input-container>
							<md-input-container flex>
								<label>Total Seats:</label>
								<input ng-model="newSession.registrationLimit" name="registrationLimit" required ng-pattern="/^\d+$/" autocomplete="off">
								<div ng-messages="newSessionForm.registrationLimit.$error">
									<div ng-message="required">required</div>
									<div ng-message="pattern">Only numbers</div>
								</div>
							</md-input-container>
						</div>
				</div>
			</md-content>
		</md-dialog-content>
		<md-dialog-actions>
			<div flex show-gt-xs></div>
			<md-button flex flex-xs="100" type="submit" 
				ng-disabled="!newSessionForm.$valid" ng-click="save()" class="md-accent md-raised">
				Save
			</md-button>
			<md-button flex flex-xs="100" ng-click="cancel()">
				cancel
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
