<md-toolbar class="md-primary flying-header" layout="row" layout-align="center">
	<div layout class="md-toolbar-tools">
		<div flex='grow'>
			<md-button ng-class="{'min-width-0': $mdMedia('xs')}" 
				ng-click="back()" >
				<md-icon class="material-icons margin-top-minus-3 cursor-pointer">
					keyboard_backspace
				</md-icon>
				<span ng-if="!$mdMedia('xs')">Back</span>
			</md-button>
			<span>Your Cart</span>
		</div>
		<div flex></div>
		<md-button ng-disabled="!selectedSessions || selectedSessions.length == 0" flex="10" class="md-accent md-hue-2 md-raised" ng-click="registerEvent()">Confirm</md-button>
	</div>
</md-toolbar>
<md-toolbar>
</md-toolbar>
<md-content style="height: 90%" ng-class="{'padding-0-10': $mdMedia('lg') || $mdMedia('sm')}">
    <md-card class="position-relative margin-bottom-30 green-top-border"
		ng-repeat="sessionData in selectedSessions"
    	md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch
    	ng-class="{'red-top-border': soldOut()}">
    	<span ng-if="!soldOut()" class="calendar-badge scheduled-session">Open</span>
    	<span ng-if="soldOut()" class="calendar-badge sold-out-session">Sold out</span>
    	<md-card-title>
    		<md-card-title-text>
    			<span class="md-headline">{{sessionData.name}}</span>
    			<span class="md-subhead">
					<div>
						<md-icon class="material-icons font-size-20">access_time</md-icon>
						{{MomentUtilService.getTime(sessionData.start)}}&nbsp;to&nbsp;{{MomentUtilService.getTime(sessionData.end)}}
					</div>
					<div>
						<md-icon class="material-icons font-size-20">place</md-icon>
						{{currentEvent.location}}
					</div>
    			</span>
    		</md-card-title-text>
    		<md-card-title-media layout="row">
				<div flex></div>
				<input type="hidden" ng-model="sessionData.seats" ng-change="seatsChanged(sessionData)">
    			<md-button class="md-fab md-warn" 
    				ng-if="sessionData.selected" ng-click="removeSession(sessionData)">
    				<md-icon class="material-icons">remove</md-icon>
    			</md-button>
    		</md-card-title-media>
    	</md-card-title>
		<div class="progress-container cursor-pointer">
			<md-progress-linear  class="{{getSeatsColor(sessionData)}}" md-mode="determinate" 
			value="{{(sessionData.registrationsDone * 100) / sessionData.registrationLimit}}">
			</md-progress-linear>
			<md-tooltip md-direction="top">
				Booked {{sessionData.registrationsDone}} of {{sessionData.registrationLimit}}
			</md-toolbar>
		</div>
    	<md-card-actions layout="row" layout-align="end center">
    	</md-card-actions>
    </md-card>
    <md-card class="position-relative margin-bottom-30 grey-top-border"
		ng-if="!selectedSessions || selectedSessions.length == 0"
		md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
    	<md-card-title>
    		<md-card-title-text>
    			<span class="md-headline">Your Cart is Empty</span>
    		</md-card-title-text>
    		<md-card-title-media>
    	</md-card-title>
    	<md-card-actions layout="row" layout-align="end center">
    	</md-card-actions>
    </md-card>
</md-content>
