<md-toolbar class="md-primary flying-header dynamic-sized" layout="row" layout-align="center">
	<div layout class="md-toolbar-tools">
		<div flex='grow'>
			<md-icon class="material-icons margin-top-minus-3 cursor-pointer" 
				ng-click="toggleSideBar()">menu</md-icon>
			<span><a href="/" target="_self">Connect360</a></span>
		</div>
		<div flex></div>
		<md-menu-bar ng-if="loggedInUser && ($mdMedia('sm') || $mdMedia('lg'))">
			<md-menu>
				<md-button ng-click="$mdOpenMenu($event)">
					{{loggedInUser.user.display_name}}
					<md-icon class="material-icons">keyboard_arrow_down</md-icon>
				</md-button>
				<md-menu-content>
					<md-menu-item>
            			<md-button ng-click="createEvent()">Create Event</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ng-click="logout()">Logout</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</md-menu-bar>
		<md-menu-bar ng-if="loggedInUser && $mdMedia('xs')" class="padding-0">
			<md-menu>
				<md-button class="md-fab md-mini md-primary" ng-click="$mdOpenMenu($event)">
					<md-icon class="material-icons">more_vert</md-icon>
				</md-button>
				<md-menu-content>
					<md-menu-item>
            			<md-button ng-click="createEvent()">Create Event</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ng-click="logout()">Logout</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</md-menu-bar>
	</div>
</md-toolbar>
<co-sidebar></co-sidebar>
<md-toolbar class="dynamic-sized">
</md-toolbar>
<md-content style="height: 90%">
    <md-tabs md-border-bottom layout-fill class="md-primary md-hue-2">
        <md-tab md-dynamic-height ng-repeat="eventDate in eventSpan" label="{{MomentUtilService.getShortDayDate(eventDate)}}">
            <md-content md-padding layout="column" layout-fill class="height: 500px" ng-class="{'padding-0-10': $mdMedia('lg') || $mdMedia('sm')}">
				<section layout="column" layout-fill >
					<h3 style="margin-left: 8px; margin-right: 8px;color: #E91E63">{{currentEvent.name}} - Session setup</h3>
					<co-calendar-row session-schedule-date="{{eventDate}}" 
						ng-repeat="session in eventDates[MomentUtilService.getNormalDate(eventDate)].sessions"
						session-data={{session}}>
					</co-calendar-row>
				</section>
            </md-content>
        </md-tab>
	</md-tabs>
</md-content>
