<md-toolbar class="md-primary" layout="row" layout-align="center">
	<div layout class="md-toolbar-tools">
		<div flex>
			<md-icon class="material-icons margin-top-minus-3 cursor-pointer" 
				ng-click="toggleSideBar()">menu</md-icon>
				<span><a href="/" target="_self">Connect360</a></span>
		</div>
		<md-button flex="10" ng-if="($mdMedia('sm') || $mdMedia('lg'))" 
			ng-click="registerEvent()">Register</md-button>
		<md-button ng-if="!loggedInUser" ng-click="login()">Login</md-button>
		<md-menu-bar ng-if="loggedInUser && ($mdMedia('sm') || $mdMedia('lg'))">
			<md-menu>
				<md-button ng-click="$mdOpenMenu($event)">
					{{loggedInUser.user.display_name}}
					<md-icon class="material-icons">keyboard_arrow_down</md-icon>
				</md-button>
				<md-menu-content>
					<md-menu-item>
            			<md-button ng-click="createEvent()">Create Event</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ng-click="logout()">Logout</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</md-menu-bar>
		<md-menu-bar ng-if="loggedInUser && $mdMedia('xs')" class="padding-0">
			<md-menu>
				<md-button class="md-fab md-mini md-primary" ng-click="$mdOpenMenu($event)">
					<md-icon class="material-icons">more_vert</md-icon>
				</md-button>
				<md-menu-content>
					<md-menu-item>
            			<md-button ng-click="registerEvent()">Register</md-button>
					</md-menu-item>
					<md-menu-item>
            			<md-button ng-click="createEvent()">Create Event</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ng-click="logout()">Logout</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</md-menu-bar>
	</div>
</md-toolbar>
<co-sidebar></co-sidebar>
<div id="home" layout="row" layout-fill>
	<md-content layout="column" layout-fill layout-align="center center" class="background-fixed" style="background: url(/images/overlay.png) 0% 0%/auto padding-box border-box,url({{getTransformedImage()}}) no-repeat 50% 50%/cover padding-box border-box;">
		<md-toolbar class="transparent-background color-white" 
			layout-align="center center" 
			layout="column" layout-padding
			ng-class="{'layout-fill': $mdMedia('xs')}">
			<h1>{{currentEvent.name}}</h1>
			<span class="event-date">
				{{getReadableDate(currentEvent.start)}} 
			</span> 
			<span ng-show="!singleDayEvent">to</span>
			<span ng-show="!singleDayEvent" class="event-date">
				{{getReadableDate(currentEvent.end)}}
			</span> 
			<span class="location">{{currentEvent.location}}</span>
			<md-button flex="10" class="md-raised md-accent" ng-if="$mdMedia('xs')" 
				ng-click="registerEvent()">Register</md-button>
		</md-toolbar>
	</md-content>
</div>
<div class="main-container margin-bottom-20">
	<co-subheader>
	</co-subheader>
	<md-content class="md-whiteframe-1dp" 
	ng-class="{'margin-0-10': $mdMedia('lg')}">
		<div class="desc-body padding-3per-10per" ng-bind-html="currentEvent.details">
		</div>

		<div class="background-light-grey padding-3per-10per">
			<div>
				<div class="desc-label">When</div> 
				<div class="desc-value">
					{{getReadableDate(currentEvent.start)}} to {{getReadableDate(currentEvent.end)}}
				</div>
			</div>
			<div>
				<div class="desc-label">Where</div> 
				<div class="desc-value">
				{{currentEvent.location}}
				</div>
			</div>
		</div>
	</md-content>
</div>

<div class="main-container margin-bottom-20">
	<md-content class="md-whiteframe-1dp height-400 overflow-hidden" layout="column"
		ng-class="{'margin-0-10': $mdMedia('lg')}">
		<iframe class="border-none" src="{{trustUrl(currentEvent.locationUrl)}}" width="100%" height="90%">
		</iframe>
		<div layout layout-align="center center" flex class="background-light-grey">
			{{currentEvent.location}}
		</div>
	</md-content>
</div>
