<md-toolbar class="md-primary flying-header" layout="row" layout-align="center">
	<div layout class="md-toolbar-tools">
		<div flex="grow">
			<span>Connect360</span>
		</div>

		<md-button ng-if="!loggedInUser" ng-click="login()">Login</md-button>
		<md-menu-bar ng-if="loggedInUser && ($mdMedia('sm') || $mdMedia('lg'))">
			<md-menu>
				<md-button ng-click="$mdOpenMenu($event)">
					{{loggedInUser.user.display_name}}
					<md-icon class="material-icons">keyboard_arrow_down</md-icon>
				</md-button>
				<md-menu-content>
					<md-menu-item>
            			<md-button ng-click="createEvent()">Create Event</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ng-click="logout()">Logout</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</md-menu-bar>
		<md-menu-bar ng-if="loggedInUser && $mdMedia('xs')" class="padding-0">
			<md-menu>
				<md-button class="md-fab md-mini md-primary" ng-click="$mdOpenMenu($event)">
					<md-icon class="material-icons">more_vert</md-icon>
				</md-button>
				<md-menu-content>
					<md-menu-item>
            			<md-button ng-click="createEvent()">Create Event</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ng-click="logout()">Logout</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</md-menu-bar>
	</div>
</md-toolbar>
<md-toolbar></md-toolbar>
<div layout="row" layout-wrap layout-align="center center">
	<md-whiteframe ng-repeat="event in events" 
		flex-lg="25" flex-md="25" flex-sm="40" flex-xs="100" 
		layout="column" layout-align="space-around stretch"
		ng-click="gotoEvent(event)" class="height-300"> 
		<div flex="70" class="overflow-hidden" layout layout-align="center center" layout-padding>
			<img ng-src="{{getTransformedImage('150', '150', event.logoUrl)}}" class="md-card-image fit-entire-space"/>
		</div>
		<div flex="no-shrink" class="font-weight-700 event-name margin-bottom-5">{{event.name|limitTo: 39}}<span ng-if="event.name.length > 38">..</span></div>
		<div flex="15" class="padding-0-16" layout="column" layout-align="center stretch">
			<span class="event-date">{{getShortReadableDate(event.start)}} - {{getShortReadableDate(event.end)}}</span> 
			<span class="location">{{event.location}}</location>
		</div>
		<div flex="5" class="padding-top-10">
			<md-progress-linear  ng-click="stopEventDescLoad($event)" ng-if="event.registrationLimit && event.registrationLimit > 0" 
				class="determinate fat {{getSeatsColor(event)}}" value="{{(event.registrationsDone*100)/event.registrationLimit}}" 
				></md-progress-linear>
			<md-progress-linear ng-click="stopEventDescLoad($event)"  ng-if="!event.registrationLimit" 
				class="determinate fat " value="0" ></md-progress-linear>
			<md-tooltip ng-if="event.registrationLimit && event.registrationLimit > 0">
				Booked {{event.registrationsDone}} out of {{event.registrationLimit}}</md-tooltip>
			<md-tooltip ng-if="!event.registrationLimit">
				No sessions assigned.
			</md-tooltip>
		</div>
		<span class="label-tag"
			ng-class="{'background-green': event.status=='Open',
				'background-red': event.status=='Sold out',
				'background-pink': event.status =='Draft',
				'background-grey': event.status == 'Closed'
				}">
			{{getCurrentStatus(event)}}</span> 
	</md-whiteframe>
    <md-card class="position-relative margin-bottom-30 grey-top-border"
		ng-if="!events || events.length == 0"
		md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
    	<md-card-title>
    		<md-card-title-text>
    			<span class="md-headline">No events available.</span>
    		</md-card-title-text>
    		<md-card-title-media>
    	</md-card-title>
    	<md-card-actions layout="row" layout-align="end center">
    	</md-card-actions>
    </md-card>
</div>
