<form name="loginForm" layout-fill ng-submit="login()">
<md-content class="login" layout="row" flex="grow" layout-fill layout-align="center center" layout-align-xs="center start">
	<div class="md-whiteframe z-index-0"
		flex="40" flex-sm="70" flex-xs="100" 
		ng-class="{'md-whiteframe-5dp': $mdMedia('gt-xs'), 'layout-fill': $mdMedia('xs')}" layout="column" > 
		<md-toolbar>
		<div layout layout-align="center center" class="md-toolbar-tools">
			Login
		</div>
		</md-toolbar>
		<div class="padding-40 " layout="column" >
			<md-input-container> 
				<label>Username</label> 
				<input ng-model="username" name="j_username" required ng-pattern="/^.+@.+\..+$/" autocomplete="off">
				<div class="md-errors-spacer"></div>
				<div ng-messages="loginForm.j_username.$error">
					<div ng-message="required">Username is required</div>
					<div ng-message="pattern">Username has to be an email</div>
				</div> 
			</md-input-container>
			<md-input-container> 
				<label>Password</label> 
				<input name="j_password" type="password" ng-model="password" required ng-minlength="4">
				<div class="md-errors-spacer"></div> 
				<div ng-messages="loginForm.j_password.$error">
					<div ng-message="required">Password is required</div>
				</div> 
			</md-input-container> 
			<md-input-container layout="column" class="padding-0"> 
				<md-button ng-disabled="!loginForm.$valid" type="submit" class="md-raised md-accent" 
					flex="100" layout-padding >
					Login
				</md-button> 
			</md-input-container>  
		</div>
	</div>
</md-content>
</form>
