<md-dialog flex="40">
	<form name="registerToEvent" layout="column">
		<md-toolbar>
			<div class="md-toolbar-tools"><h2>Register Event</h2></div>
		</md-toolbar>
		<md-dialog-content layout-padding>
			<md-content layout-padding layout="row" layout-xs="column">
				<div flex-gt-xs="100" layout="column">
					<div layout="row" layout-xs="column">
						<md-input-container flex>
							<label>Attendee First Name</label>
							<input ng-model="newAttendee.firstName" autocomplete="off" name="firstName" autofocus required>
							<div ng-messages="registerToEvent.firstName.$error">
								<div ng-message="required">Attendee first name is required</div>
							</div>
						</md-input-container>
						<md-input-container flex>
							<label>Attendee Last Name</label>
							<input ng-model="newAttendee.lastName" name="lastName" autocomplete="off" >
						</md-input-container>
					</div>
					<md-input-container>
						<label>Email</label>
						<input type="email" ng-model="newAttendee.email" name="email" required autocomplete="off">
						<div ng-messages="registerToEvent.email.$error">
							<div ng-message="required">Email is mandatory.</div>
							<div ng-message="email">Not a valid email.</div>
						</div>
					</md-input-container>
					<md-input-container>
						<label>Phone</label>
						<input ng-model="newAttendee.phone" name="phone" 
							ng-pattern="/^\(?(\d{3})\)?[ .-]?(\d{3})[ .-]?(\d{4})$/" autocomplete="off">
						<div ng-messages="registerToEvent.phone.$error">
							<div ng-message="required">Phone number is mandatory.</div>
							<div ng-message="pattern">Invalid phone number, try (###-###-####) or (##########)</div>
						</div>
					</md-input-container>
					<md-input-container>
						<label>Company</label>
						<input ng-model="newAttendee.company" name="company" required autocomplete="off">
						<div ng-messages="registerToEvent.company.$error">
							<div ng-message="required">Company name is mandatory.</div>
						</div>
					</md-input-container>
				</div>
			</md-content>
		</md-dialog-content>
		<md-dialog-actions>
			<div flex show-gt-xs></div>
			<md-button flex-lg="flex" flex-xs="100" type="submit" 
				ng-click="save()" ng-disabled="!registerToEvent.$valid" class="md-primary md-raised md-accent">
				Save
			</md-button>
			<md-button flex-lg="flex" flex-xs="100" ng-click="cancel()" class="md-warn">
				cancel
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
