<md-toolbar class="md-primary flying-header animate-toolbar dynamic-sized" layout="row" layout-align="center"
	ng-class="{'md-hue-3': selectedSessions.length > 0 }">
	<div layout class="md-toolbar-tools">
		<md-button ng-class="{'min-width-0': $mdMedia('xs')}" 
			ng-click="removeAllSelectedItems()" ng-if="selectedSessions.length > 0">
			<md-icon class="material-icons margin-top-minus-3 cursor-pointer">
				keyboard_backspace
			</md-icon>
			<span ng-if="!$mdMedia('xs')">Back</span>
		</md-button>
		<div flex='grow' ng-if="selectedSessions.length > 0">
			<span>Connect360</span>
		</div>

		<div flex='grow' ng-if="selectedSessions.length == 0">
			<md-icon class="material-icons margin-top-minus-3 cursor-pointer" 
				ng-click="toggleSideBar()">menu</md-icon>
			<span><a href="/" target="_self">Connect360</a></span>
		</div>

		<div flex></div>
		<md-button ng-if="!loggedInUser && selectedSessions.length == 0" ng-click="login()">Login</md-button>
		<md-menu-bar ng-if="loggedInUser && ($mdMedia('sm') || $mdMedia('lg')) && selectedSessions.length == 0">
			<md-menu>
				<md-button ng-click="$mdOpenMenu($event)">
					{{loggedInUser.user.display_name}}
					<md-icon class="material-icons">keyboard_arrow_down</md-icon>
				</md-button>
				<md-menu-content>
					<md-menu-item>
            			<md-button ng-click="createEvent()">Create Event</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ng-click="logout()">Logout</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</md-menu-bar>
		<md-menu-bar ng-if="loggedInUser && $mdMedia('xs') && selectedSessions.length == 0" class="padding-0">
			<md-menu>
				<md-button class="md-fab md-mini md-primary" ng-click="$mdOpenMenu($event)">
					<md-icon class="material-icons">more_vert</md-icon>
				</md-button>
				<md-menu-content>
					<md-menu-item>
            			<md-button ng-click="createEvent()">Create Event</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ng-click="logout()">Logout</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</md-menu-bar>

		<md-button flex="10" ng-click="goToCart()" ng-if="selectedSessions.length > 0">
			<md-icon class="material-icons margin-top-minus-3 cursor-pointer">shopping_cart</md-icon>Cart({{selectedSessions.length}})
		</md-button>
	</div>
</md-toolbar>
<co-sidebar></co-sidebar>
<md-toolbar class="dynamic-sized">
</md-toolbar>
<md-content style="height: 90%">
    <md-tabs md-border-bottom layout-fill class="md-primary md-hue-2">
        <md-tab md-dynamic-height ng-repeat="eventDate in eventSpan" label="{{MomentUtilService.getShortDayDate(eventDate)}}">
			<md-content md-padding layout-column ng-class="{'padding-0-10': $mdMedia('lg') || $mdMedia('sm')}">
				<h3 style="margin-left: 8px; margin-right: 8px;color: #E91E63">{{currentEvent.name}} - Register</h3>
				<co-schedule-item session-schedule-date="{{eventDate}}" 
					ng-repeat="session in eventDates[MomentUtilService.getNormalDate(eventDate)].sessions"
					session-data={{session}}>
				</co-schedule-item>
                <md-card class="position-relative margin-bottom-30 grey-top-border"
					ng-if="eventDates[MomentUtilService.getNormalDate(eventDate)].sessions.length == 0"
					md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                	<md-card-title>
                		<md-card-title-text>
                			<span class="md-headline">No Sessions setup</span>
                		</md-card-title-text>
                		<md-card-title-media>
                	</md-card-title>
                	<md-card-actions layout="row" layout-align="end center">
                	</md-card-actions>
                </md-card>
            </md-content>
        </md-tab>
	</md-tabs>
</md-content>
